<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.AddIn" version="0.34.4-rc3" targetFramework="net451" />
  <package id="ExcelDna.Integration" version="0.34.4-rc3" targetFramework="net451" />
  <package id="FSharp.Core" version="4.1.17" targetFramework="net451" />
  <package id="FSharpx.Async" version="1.9.6" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.16.0" targetFramework="net451" />
  <package id="FSharpx.Extras" version="2.2.1" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net451" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net451" />
  <package id="NetOffice.Excel" version="1.7.3.0" targetFramework="net451" />
  <package id="Npgsql" version="3.1.7" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net451" />
</packages>